<div id="posts-container" class="container">
  <% @posts && @posts.reverse.each do |post| %>
    <section>
      <div class="container py-3 horizontal">
        <div class="card">
          <div class="row inner-card">
            <% if post.image_url.length > 0 %>
              <div class="col-md-2 img-container">
                <img src=<%= post.image_url %>>
              </div>
              <div class="col-md-10 px-3">
                <div class="card-block px-3">
                  <h4 class="card-title"><%= post.title %></h4>
                  <h6 class="card-text"><%= post.datetime %></h6>
                  <p class="card-text"><%= post.content %></p>
                </div>
              </div>
            <% else %>
              <div class="col-md-12 px-3">
                <div class="card-block px-3">
                  <h4 class="card-title"><%= post.title %></h4>
                  <p class="card-text"><%= post.content %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>